.form-control {
    direction: rtl !important;
}

.new-user-label {
    font-size: 15px !important;
}

.new-user-container {
    padding: 30px;
    border: 1px solid #c7c7c7;
    max-width: 560px;
    margin: 0 auto; 
    width: 100%;
    direction: rtl;
    display: flex;
    flex-direction: column;
    gap: 10px; 
    direction: rtl;
    border-radius: 5px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f1f2f3;
    box-shadow: 3.4px 3.4px 2.7px rgba(0, 0, 0, 0.006), 8.7px 8.7px 6.9px rgba(0, 0, 0, 0.009), 17.7px 17.7px 14.2px rgba(0, 0, 0, 0.011), 36.5px 36.5px 29.2px rgba(0, 0, 0, 0.014), 100px 100px 80px rgba(0, 0, 0, 0.02);
}

.new-user {
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 10%;
}

#NewUserSave {
    width: 7vw;
    min-width: 90px;
    height: 32px;
    background-color: #355489;
    border: none;
    color: white;
    border-radius: 3px;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    font-size: 13px;
}

#NewUserCancel {
    width: 5vw;
    height: 32px;
    min-width: 90px;
    background-color: #515151;
    border: none;
    color: white;
    border-radius: 3px;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    font-size: 13px;
    margin-right: 20px;
}

#formLabel {
    font-size: 25px;
    font-family: sans-serif;
    font-weight: bold;
}

@media only screen and (min-width: 600px) {
    .new-user-container {
        min-width: 20vw;
    }

    #NewUserSave {
        min-width: 70px !important;
    }
}
